#about {
    grid-area: about;
}

#about .container-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

#about .container-body > .profile-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about .container-body > .profile-photo-container > img {
    border-radius: 50%;
    max-width: 75%;
    max-height: 75%;
}

#about .container-body > .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#about .container-body > .about-item > p {
    text-align: left;
}
