#about {
    grid-area: about;
}

#about .container-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

#about .container-body > div > img {
    border-radius: 50%;
    max-width: 70%;
}

#about .container-body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about .container-body > div {
    text-align: center;
}

#about .container-body > div p {
    text-align: left;
}
