/* Experience section */

#experience {
    grid-area: experience;
}

#experience .container .container-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 1rem;
}

#experience .card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    #experience .container .container-body {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #experience .card {
        width: 100%;
    }
}

#experience .card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

/* Card body items */
#experience .card > .experience-title {
    text-transform: uppercase;
    padding: 2rem;
}

#experience .card > .experience-title > .experience-details {
    text-transform: capitalize;
    font-style: italic;
    color: var(--card-company-color);
}

#experience .card > .experience-summary {
    padding: 0 1rem 1rem 1rem;
}

#experience .card > .experience-achievements > ul {
    padding: 0 1rem 1rem 4rem;
    font-style: italic;
}
